**/*.jar
**/build/
**/out/
**/bin/
**/sandbox/
**/project/

# intellij
**/src/intellij*/*.iml
**/src/intellij*/*.ipr
**/src/intellij*/*.iws
**/.cache
**/.idea
**/.settings

# vscode
**/.vscode


# sbt's target directories
**/target/
**/.scala-build/


# metals
**/.metals
**/.bloop
**/project/**/metals.sbt

**/.bsp
**/.history
